body{
	margin: 0 auto;
	max-width: 2000px;
}
#header{
	background: url(../img/stars.png);
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
}
.head{

	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.logo{
	margin-left:150px;
	color: white;
	margin-top: 23px;
}
.logo span{
	font-weight: bold;
	color:red;
	font-style: italic;
	margin-right: 10px;

}
.navigation{
	margin-top: 15px;
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
}
.navigation ul{
	display: flex;
	list-style: none;
}
.navigation li{
	margin: 10px;
}
.navigation a{
	text-decoration: none;
	color:white;
}
.navigation input{
	border: none;
	margin: 10px;
	padding:15px 25px;
	border-radius: 40px;
	outline: none;
}
#header hr{
	border:0.5px solid #422d42;
}	
form{
	display: flex;
	align-items: center;
}	
form button{
	border: none;
	border-radius: 50px;
	position: relative;
	right: 60px;
	background: white;
	outline: none;
	cursor: pointer;
}
.mainText{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	text-align: right;
	height: 80%;

}
.mainText h1{
	font-weight: bold;
	font-size:50px;
	color:white;
}
.mainText button{
	border:none;
	padding: 15px 50px;
	background: #8824cd;
	font-weight: bold;
	color: white;
	border-radius: 50px;
}
.mainText p{
	font-size: 15px;
	color:white;
}
.text{
	margin-left: 18%;
	
}
#blue{
	background: url(../img/blue.png);
	font-family: 'Poppins', sans-serif;

}
#blue .block3{
	padding-top: 80px;
	padding-bottom:100px;
}
#blue .block2{
	display: flex;
	justify-content: center;
	align-items: center;
}
#blue .block{
	margin:15px;
}
#blue .block h6{
	color: white;
	margin:0px;
}
#blue .block p{
	color:white;
	width: 400px;
}
#pink{
	background: url(../img/forest.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Nunito', sans-serif;font-family: 'Nunito', sans-serif;
}
.pinkForest{
	text-align: center;
	padding-top: 160px;
}
.pinkForest h3{
	margin:0;
	font-size: 35px;
	color:white;
}
.pinkForest p{
	color:white;
	line-height: 1.6;
	text-align: center;

}
.pinkForest button{
	padding:15px 50px;
	border-radius: 50px;
	border:none;
	background:white;
	color:#e07c8d;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 190px;

}
.pinkForest .but{
	text-align: center;
}
#handPen{
	margin:0;
	display: flex;
}
.photo{
	width: 50%;
}
.photo img{
	width: 100%;
	height: 100%;
}
.handText{
	width:50%;
	margin: 50px 80px 50px 70px;
}
#violet{
	background: url(../img/violet.png);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Abel', sans-serif;
}
.violetText{
	text-align: center;
	padding-top: 180px;
}
.violetText h4{
	font-size: 30px;
	color:white;
	margin:0;
}
.violetText p{
	color:#7b4e8a;

}
.violetText button{
	border:none;
	color:white;
	background: #8824cd;
	padding:15px 60px;
	border-radius: 40px;
}
.violetText span{
	color:white;
}
.violetText .vil{
	padding-bottom: 110px;
	margin-bottom: 0px;
}
#wog{
	background: url(../img/wog.png);
	background-repeat: no-repeat;
	background-size: cover;

}
.mainWog{
	color: white;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-top:280px;
	padding-bottom: 90px;
}
.textWog{
	margin-left: 14%;
}
.textWog button{
	border:1px solid white;
	color:white;
	background: none;
	border-radius: 40px;
	padding:7px 25px;
}
.textWog h2{
	font-size: 30px;

}
.image{
	display: flex;
}
.image p{
	margin-left: 15px;
}
#clock{
	margin:0;
	display: flex;
}
#clock .photo{
	width: 50%;
}
#clock .photo img{
	width: 100%;
	height: 100%;
}
#clock .handText{
	width:50%;
	margin: 50px 30px 50px 70px;
}
#tomato{
	background: #e7526b;
	color:white;

}
.general{
	padding-top: 80px;
	padding-bottom: 170px;
	margin-left: 7%;
}
#tomato h5{
	margin:0px;
}
#tomato p {
	margin-bottom: 0px;
	width: 400px;
	padding-bottom: 30px;
}
#tomato a{
	color:white;
}
footer{
	background: #2e3b4e;

}
footer p{
	margin:0;
	padding-top: 30px;
	padding-bottom: 300px;
	color: white;
	margin-left: 120px;
}